* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    font-family: Verdana, Geneva, sans-serif;
}

body {
    background: linear-gradient(0deg, rgba(77,52,18,1) 0%, rgba(25,56,76,1) 42%, rgba(66,118,153,1) 100%);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
}

.window {
    width: 900px;
    border-radius: 0.7em;
    height: 80vh;
    padding: 10px;
    margin: 4em auto;
    /* background-color: #19171D; */
    background: rgb(25,23,29);
    background: linear-gradient(0deg, rgba(25,56,76,1) 0%, rgba(66,118,153,0.8855917366946778) 56%, rgba(48,149,226,0.7203256302521008) 100%);
    box-shadow: 20px 20px 50px 15px rgba(44, 44, 44, 0.7);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
}

.channels {
    height: 100%;
    /* width: 250px; */
    border-radius: 0.5em;
    padding: 0.5em;
    margin-right: 0.5em;
    background-color:#19171D;
    flex: 0 1 350px; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #757477;
}

.channels__title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-self: stretch;
    border-bottom: 1px solid #757477;
}

.channels h2 {
    font-size: 17px;
    width: auto;
    padding: 7px 12px;
    flex: 1 1 auto;
}

.fa-plus-circle {
    font-size: 18px;
    padding: 7px;
    color: rgb(66, 118, 153);
}

.channels ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: flex-start;
    justify-content: center;
    padding: 6px;
    font-size: 15px;
    margin: 0;
}

.channels li {
    width: 100%;
    height: 28px;
    padding: 0 16px;
    display: flex;
    align-items: center;
}

.channels li a:hover {
    color: #1164a3;
}

.channels a{
    color: #757477;
    text-decoration: none;
}

.channels a.selected{
    color: #3095e2;
    text-shadow: 0 0 10px #3095e2, 0 0 30px #3095e2c9, 0 0 50px #3095e29c;
}

.mainChat {
    border-radius: 0.5em;
    padding: 0.4em;
    background-color: #1a1d21;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: stretch;
}

.chatbox {
    margin-bottom: 1em;
    background: #1a1d21;  
    overflow-x: hidden;
    overflow-y: auto;
    flex: 1 1 auto;
}

.chatbox::-webkit-scrollbar {
    width: 10px;
}

.chatbox::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #747779;
}

.chatbox--user {
    display: flex;
    flex-flow: row nowrap;
    color: #bbc2cb;
    margin-bottom: 0.7em;
    padding: 0.7em;
    font-size: 14px;
}

.self.chatbox--user {
    display: flex;
    flex-flow: row-reverse nowrap;
}

.self .chatbox--user--message .info{
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    align-items: baseline;
}

.self .chatbox--user--message span{
    align-self: flex-end;
}

.chatbox--user img {
    padding: 0.2em;
    align-self: flex-start;
    height: 50px;
    width: 50px;
    border-radius: 9px;
    
}

.chatbox--user--message {            
    padding: 0 0.5em;
    width: 81%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.info {
    margin-bottom: 0.3em;
}

.info .info__name {
    color: #bbc2cb;
    text-decoration: none;
    font-weight: bold;
}

.info span {
    font-size: 12px;
    color: #747779;
    padding: 0 0.7em;
}

.inputMessage {
    background: #222529;
    border: 1px solid #747779;
    border-radius: 7px;
    display: flex;
    justify-content: stretch;
    align-items: center;
    padding: 0.3em;
    margin: 1em 0.7em;
}

.inputMessage input {
    background: #222529;
    font-size: 15px;
    color: #bbc2cb;
    width: 96%;
    padding: 0.5em;
    margin: 0;
    height: 100%;
    border: none;
    outline: none;
}

.inputMessage button {
    background: #222529;
    height: 100%;
    flex-basis: 30px;
    border: none;
    display: flex;
    align-items: center;
    
}

.inputMessage button img {
    height: 21px;
    filter: opacity(40%);
}

@media (max-width: 576px) {
    body {
        justify-content: stretch;
        align-items: stretch;
        /* background: rgb(66, 118, 153); */
    }

    .window {
        width: 100%;
        border-radius: 0em;
        height: 100vh;
        margin: 0;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .channels {
        margin-right: 0em;
        padding: 0.3em;
        flex: 0 1 100px; 
        margin-bottom: 0.5em;
    }
    
    .channels ul {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        align-content: stretch;
        align-self: stretch;
        padding: 4px;
        overflow-x: scroll;
    }

    .channels ul::-webkit-scrollbar {
        height: 10px;
    }
    
    .channels ul::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background: #747779;
    }
}